<nb-layout>

    <nb-layout-header fixed>
        <p>
            Muhammad Usama K18-0154
        </p>
    </nb-layout-header>

    <nb-layout-column>
        <nb-card size="large">
            <nb-card-body>
                <div class="center">
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
                        <table>
                            <tbody>
                                <tr>
                                    <div class="center">
                                        <img src="../../assets/image.JPG" alt="Italian Trulli" width="100%"
                                            height="50%">
                                    </div>

                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <nb-form-field style="text-align:center">

                                                <input type="text" fullWidth nbInput formControlName="query">
                                            </nb-form-field>
                                        </div>
                                    </td>
                                    <td>
                                        <button nbButton hero size="small" status="primary"
                                            type="submit">Search</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </nb-card-body>
        </nb-card>


    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>